.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.error-box {
  text-align: center;
  border: 1px solid var(--error-red);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  background-color: var(--light-error);
}

.error-title {
  font-size: 2rem;
  color: var(--dark-red);
  margin-bottom: 10px;
}

.error-message {
  font-size: 1rem;
  color: var(--dark-gray);
  margin: 0;
}
