:root {
  --transparent-black-10: #0000001a;
  --white: #ffffff;
  --black: #000000;
  --teal: #4bc0c0;
  --error-red: #ff4d4d;
  --light-error: #ffe6e6;
  --dark-red: #d60000;
  --dark-gray: #333333;
  --medium-gray: #cccccc;
  --light-gray: #fafbfc;
  --transparent-teal-10: #4bc0c01a;
  --gray-background: #e8e9eb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  margin: 0;
}
