.country-info-container {
  padding: 50px;
  background-color: #fafbfc;
  min-height: 100vh;
}

.borders {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.country-name {
  font-size: 40px;
  font-weight: 700;
}

.header {
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #e8e9eb;
}

.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.info {
  padding: 5px;
  width: 100%;
}

.common-info {
  display: flex;
  gap: 20px;
}
